.header {
    background: #dcdc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.header__input {
  width: 250px;
  height: 20px;
}

.header__boton{
  width: 100px;
  height: 25px;   
}

.header__icono{
    /* position: absolute;
    right: 33rem;
    opacity: .5; */
    display: none;
}

@media screen and (max-width: 480px){
	.header {
		flex-flow: wrap;
    justify-content: center;
	} 
  .header__input, .header__boton {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 780px) and (max-width: 940px ) {
    
  .header {
    flex-direction: column;
  }
  .header__icono{
    display: none;
  }
  
}

@media screen and (min-width: 941px) and (max-width: 1024px){
  .header__icono{
    display: none;
  }
}

